{% extends "base.html" %}

{% block pagetitle %}
  Register Here!
{% endblock %}

<h1>Register a new user!</h1>

{% block content %}

  <form action="/register" method="post">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden'%}
      {{field.label}}
      <div class="inputgroup">{{field}}
        {% for error in field.errors %}
          {{error}}
        {% endfor %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Register</button>
  </form>

{% endblock %}